    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: normal;
    }
    
    body {
        background-color: #FEF1E6;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
    }
    
    .right {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
    .log {
        width: 60px;
        height: 50px;
    }
    
    h1 {
        font-family: fantasy;
        color: #FFAAA7;
    }
    
    .left {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    
    .kiri {
        width: 30px;
        height: 35px;
    }

    @import url('https://fonts.googleapis.com/css2? family= Oleo+Script+Swash+Caps & display=swap');
    .teks {
        outline: none;
        text-transform: uppercase;
        background: linear-gradient(135deg, #FFF9CA 0%, #FF8FB1 25%, #FCE2DB 50%, #cbeb88 75%, #97DBAE 100%);
        background-size: 400%;
        margin: 20px auto;
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 10s linear infinite;
    }
    
    @keyframes animate {
        to {
            background-position: 400%;
        }
    }
    
    nav {
        display: flex;
        padding: 20px;
        justify-content: center;
        background: #ffffff;
        border: 2px solid #FFAFAF;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    nav ul li {
        list-style: none;
    }
    
    nav ul li a {
        color: black;
        font-weight: bold;
        text-align: center;
        font-size: 100%;
        text-decoration: none;
    }
    
    nav ul a:hover {
        text-decoration: underline;
    }
    
    a.tbl {
        background-color: rgb(238, 137, 151);
        border-radius: 15px;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
        color: #ffffff;
        cursor: pointer;
        font-weight: normal;
    }
    
    a.tbl:hover {
        background: rgb(245, 149, 197);
        text-decoration: none;
    }
    
    #box {
        padding: 10px;
    }
    
    .tam {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 30px;
        position: relative;
        top: 30px;
    }
    
    .cart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 500px;
        border: solid black solid;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 2px 10px 0 rgb(236, 219, 219);
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        height: auto;
    }
    
    .p{
        padding-bottom: 20px;
    }

    .l{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .gg {
        width: 70%;
        height: 150px;
    }
    
    footer {
        margin: 30px auto;
        position: absolute;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .icon ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 30px;
        gap: 8px;
    }
    
    .icon ul li {
        list-style: none;
    }
    
    .gbr {
        width: 35px;
        height: 30px;
    }
    
    .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(238, 137, 151);
        width: 100%;
        height: 30px;
        font-size: 12px;
    }
    
    .copy a {
        text-decoration: none;
        color: #fff;
    }
    